<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- <meta name="description" content="" />
        <meta name="author" content="" /> -->
        <title>{% block title %}{% endblock %}</title>
        <!-- theme CSS Bare (Bootstrap)-->
        <link href="{{ url_for('static', filename='css/bare.css') }}" rel="stylesheet" />
        <!-- Surcharge CSS calou-->
        <link href="{{ url_for('static', filename='css/calou.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% include('share/_nav.html') %}
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        {% include('share/_footer.html') %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
