{% extends 'layout.html' %}
{% block title %}
calou: station météo
{% endblock %}
{% block main %}
<h1>Températures</h1>
<p>Dernière mise à jour : {{ updated_at }}</p>
<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Module</th>
            <th scope="col">Température actuelle</th>
            <th scope="col">Minimale</th>
            <th scope="col">Maximale</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <th scope="row">{{ module.name }}</th>
            <td>{% if module.max_temp == module.temp %}<mark>{{ module.temp }}°</mark>{% else %}{{ module.temp }}°{% endif %}{% if module.temp >= 30 %} 🔥{% endif %}</td>
            <td>{{ module.min_temp }}° à {{ module.min_temp_time }}</td>
            <td>{% if module.max_temp == module.temp %}<mark>{{ module._max_temp }}°</mark>{% else %}{{ module.max_temp }}°{% endif %} à {{ module.max_temp_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}